.body-content .mt-5 {
    margin-top: 60px;
}

.wrapper {
    box-shadow: none;
}

.header-content {
    text-align: center;
    margin: 30px 20px;
}

.title,
.title-sup {
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: 400;

    &:hover {
        text-decoration: underline;
        color: var(--text-primary);
        cursor: pointer;
    }
}

.title {
    font-size: 2rem;
}

.title-sup {
    font-style: italic;
    font-size: 1.4rem;
}

.icon-devide {
    &::before,
    &::after {
        content: '';
        display: inline-block;
        width: 140px;
        height: 1px;
        background-color: rgba(255, 0, 0, 0);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(255, 0, 0, 0)),
            color-stop(50%, #ccc),
            to(rgba(255, 0, 0, 0))
        );
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #ccc 50%, rgba(255, 0, 0, 0));
    }
}

.icon {
    position: relative;
    top: 5px;
    font-size: 1.4rem;
    color: var(--text-primary);
}

.content {
    display: block;
    font-weight: 400;
    text-transform: none;
    font-size: 1.6rem;
    margin-top: 15px;
}

.title-body,
.sup-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #111;
    text-transform: capitalize;
    line-height: 2.2;
    margin-bottom: 4px;
}

.info-img {
    position: relative;
    height: 300px;
    transition: 0.4s opacity ease-in-out;
    cursor: zoom-in;

    &:hover {
        opacity: 0.8;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-style: none;
    position: relative;
    z-index: 1;
}

.content-body,
.content-item,
.sup-item {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8 !important;
    color: #111;
    text-align: justify;
    font: normal 15px / 1.42857143 'SFU HelveticaNeue', Arial, sans-serif;
}

.content-item,
.sup-item {
    list-style: none;
}

.sup-list {
    margin: 20px 0;
    padding: 0;
}

.sup-item {
    line-height: 2 !important;
}

.table-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}

.table-item .text-center {
    text-align: center;
    font-weight: 600;
    color: #666;
}

.table .table-item td {
    padding: 16px 12px;
    flex: 1;
    min-width: 100px;
}

.table-item td:last-child {
    flex: 3;
}

.table-item .price {
    color: red;
    font-size: 1.8rem;
    font-weight: 600;
}

.header-benefit {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.title-benefit {
    font-weight: 400;
    color: var(--text-primary);
}

.icon-benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.2rem;
    color: var(--text-primary);
    margin: 15px 0;

    &::before {
        content: '';
        display: inline-block;
        width: 100px;
        height: 1px;
        background-color: rgba(255, 0, 0, 0);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(255, 0, 0, 0)),
            color-stop(50%, #ccc),
            to(rgba(255, 0, 0, 0))
        );
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #ccc 50%, rgba(255, 0, 0, 0));
    }

    &::after {
        content: '';
        display: inline-block;
        width: 100px;
        height: 1px;
        background-color: rgba(255, 0, 0, 0);
        background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(255, 0, 0, 0)),
            color-stop(50%, #ccc),
            to(rgba(255, 0, 0, 0))
        );
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #ccc 50%, rgba(255, 0, 0, 0));
    }
}

.menu-benefit {
    margin-left: 30px;
}

.item-benefit {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    margin-bottom: 15px;
    font-weight: 100;
    color: var(--black);
}

.icon-checkbox {
    margin-right: 15px;
    color: var(--text-primary);
}

.title-payment {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--text-primary);
}

.phone,
.email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
    color: var(--black);
    padding: 10px 0;
}

.phone span {
    color: red;
    margin-left: 10px;
}

.icon-phone,
.icon-email {
    margin-right: 15px;
    color: var(--text-primary);
}

.pay-btn {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    background: var(--primary);
    margin: 20px;

    &:hover {
        background: #0072f7;
    }
}

.menu-item {
    font-size: 1.4rem;
    background-color: transparent;
    padding: 12px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 6px;
        left: 0;
        height: 1px;
        background: var(--primary);
        width: 0;
        transition: width 1s ease-out;
    }

    &:hover::after {
        width: 100%;
    }
}

.btn-login {
    padding: 6px 6px 8px 6px;
}

// Modal hiện ảnh
.modal-overlay {
    position: fixed;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
    max-height: 50%;
    overflow: hidden;
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}
